body.main{
    overflow: hidden;
}


.chat-box{
    display: block;
    height: auto;
    overflow: auto;
    max-height: 88vh;
    border: none;
}

.category{
    height: auto;
    width: 100%;
}

.category .category-title{
    background-color: rgba(50, 50, 50, 0.6);
    color: rgb(217 217 217);
    /* background-blend-mode: soft-light; */
    /* mix-blend-mode: soft-light; */
    width: 11em;
    margin: 0px;
    padding: 20px;
    border-radius: 0 30px 30px 0px;
    position: relative;
    transform: translate(-9px,-8px);
    text-align: center;
    text-transform: capitalize;
}

.category[name="account"] .category-title{
    border-radius: 10px 0 30px 0px;
    
    /* top: 0%; */
    /* left: 0%; */
}


.category .card-body{
    display: grid;
    grid-auto-flow: column;
    grid: auto-flow / .5fr .5fr .5fr ;
    height: auto;
    width: auto;
    padding: 2%;
    /* grid: auto-flow auto; */
    /* overflow: auto; */
    overflow-x: auto;
}

@media screen and ( max-width:850px ){
    .category .card-body{
        grid: auto-flow / .3fr .3fr ;
    }
}

.category .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(1, 12, 23);
    border-radius: 31px;
    height: 10em;
    width: 12em;
    margin: 10px;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

.mobile .category .card{
    height: 9em;
    width: 8em;
}

.category .card:hover{
    cursor: pointer;
    outline: 5px solid rgb(14, 110, 206);
    transition: outline .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    filter: brightness(50%);
}

.category .card .icon{
    height: 40px;
    width: 40px;
}
.mobile .category .card .icon{
    height: 30px;
    width: 30px;
}

.category .card .card-title{
    width: 70%;
    text-transform: capitalize;
}