.highlight{
    background-color: rgba(151, 60, 226, 0.253);
    padding: 0 2px;
    border-radius: 3px;
}

.selectedWordContainer ,
.selectedWord               {
    animation: selectedWordAnimation 1s .2s alternate ;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.selectedWord{
    background-color: rgba(151, 60, 226, 0.808);
}

@keyframes selectedWordAnimation {
    50%{
        background-color: rgba(1, 12, 23, 0.25);
    }
}

.bg-img{
    background-image: url(/img/chat-bg.png);
    background-blend-mode: overlay;
}

.chat-box {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    position: absolute;
    height: 89%;
    min-height: 450px;
    width: 80%;
    min-width: 500px;
    max-width: 2000px;
    margin: 5px;
    padding: 5px;
    transform: translate( 30px , 10px);
    border: 4px solid var(--main-bg-color);
    border-radius: 10px;
    background-color: var(--main-bg-color);
}

.mobile .chat-box{
    min-width: 200px;
}

.chat-box .inbox {
    background-color: var(--main-bg-color);
    display: block;
    position: relative;
    height: calc(96% + 5px);
    width: 15em;
    padding: 6px;
    border-radius:10px 0 0 10px;
    outline: 2px solid rgb(1, 12, 23);
}

@media screen and ( max-width:1000px ){
    .chat-box .inbox {
        width:12em;
    }
}

@media screen and ( min-width:1800px ){
    .chat-box .inbox {
        width:25em;
    }
}

.mobile .chat-box .inbox{
    width: 85%;
}

.chat-box .inbox .page-name{
    display: block;
    position: relative;
}

.chat-box .inbox .page-name #cname{
    font-size: 20px;
    text-transform: capitalize;
    padding: 0%;
    margin: 15px;
    color: var(--heading-color);
}

.chat-box .inbox .hr{
    height: 1.5px;
    width: calc(100% + 10px);
    margin: 6px 0px;
    transform: translateX(-6px);
    background-color: rgba(240, 248, 255, 0.423);
}

.chat-box .search   {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--main-bg-color);
    
}

.chat-box .search input{
    height: 30px;
    width: 80%;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 10px;
    border:none;
    outline: none;
    border-bottom: 2px inset white;
    background-color:rgb(1, 12, 23);
    color: rgba(255, 255, 255, 0.756);
}

.chat-box .search input:focus   {
    border-color: blueviolet;
    transition: 1s border cubic-bezier(0.165, 0.84, 0.44, 1);
}

.listBody {
    display: block ;
    max-width: 100%;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.list  {
    height: calc(100% - 110px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    background-color: var(--main-bg-color);
}

.list .inbox-user  {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 5px;
    margin: 0 10px;
    border-bottom: var(--thin-wh-border);
    align-content: center;

    /* this variables are controlled by JS _status.js */
    --userStatusColor: 'null'; /* any color name or rgb or anytype in string  */
    --totalNewMsg: ''; /* number in string */
    --display: none; /* block/none */

}

.list .inbox-user::after {
    content: var(--totalNewMsg);
    color: aliceblue;
    font-size: 10px;
    position: absolute;
    display: var(--display);
    min-height: 10px;
    min-width: 10px;
    border-radius: 50%;
    z-index: 1;
    right: 4%;
    align-self: end;
    justify-self: end;
    text-align: center;
    align-content: center;
    margin: 5px;
    padding: 3px;
}
.list .inbox-user:hover , .list .selected { 
    transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1); 
    background-color: rgba(145, 145, 145, 0.218);
}

.list .img  {
    display: block;
    height: 30px;
    width: 30px;
    padding: 0px;
    margin: 7px;
    border-radius: 50%;
}

.list .img::before {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--userStatusColor);
}

/* span for skeleton loadding animation */
.list .img img , .list .img span {
    display: block;
    height: inherit;
    width: inherit;
    border-radius: 50%;
}

.list .details {
    height: 40px;
    max-width: 70%;
    display: block;
    padding: 3px;
    background-color: var(--list--bg);
    margin: 2px;
}

.list .inbox-name,.list .last-chat{
    margin: 2px;
}

.list .inbox-name{
    font-size: 15px;
    height: 16px;
    word-break: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list .last-chat{
    display: block;
    padding: 4px 0 0 0;
    word-break: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11px;
}

.list .listBody .inbox-user:hover,
.chat .heading .icon:hover,
.chat .ele:hover,
.chat .msgInput {
    cursor: pointer;
    background-color: rgba(145, 145, 145, 0.218) !important;
}

.blank-layer-chat{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: var(--main-bg-color);
}

.chat {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(98% + 5px);
    width: 70%;
    margin: 0px 10px;
    outline: 2px solid rgb(1, 12, 23);
    border-radius: 0 10px 10px 0;
    background-color: var(--main-bg-color);
    font-family: 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    --chat-font-small : 10px;
    --chat-font-medium : 12px;
}

@media screen and ( min-width:1650px ){
    .chat {
        --chat-font-small : 15px;
        --chat-font-medium : 17px;            
    }
}

@media screen and ( max-width:798px ){
    .chat {
        --chat-font-small : 8px;
        --chat-font-medium : 10px;            
    }
}

.mobile .chat-box .chat{
    width: 100%;
    margin: 0 5px;
}

.chat .heading {
    height: 5em;
    width: 100%;
    justify-content: start;
    border-bottom: 0.5px solid black;
    background-image: url(/img/icons/wind.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 100% 20%;
    background-attachment: fixed;
}

.chat .heading .icon{
    margin: 5px;
    border-radius: 50%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.chat .heading .icon img {
    height: 1em;
    width: 1em;
    padding: 5px;
}

.chat .heading .dp{
    height: 60%;
    margin: 0 5px;
}

.dp img {
    height: 2em;
    width: 2em;
    border: 1px solid aliceblue;
    border-radius: 50%;
}

.chat .heading .details {
    cursor: pointer;
    width: auto;
    max-width: 15em;
    min-width: 7em;
    min-height: 40px;
    align-content: center;
    border-radius: 5px;
}
.mobile .chat .heading .details{
    max-width: 7em;
}
.chat .heading .details:hover {
    background-color: rgba(0,0,0,0.4);
    transition: background .7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.chat .heading .details .name{
    font-family: var(--text-font);
    font-weight: 900;
    word-break: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} 
.mobile .chat .heading .details .name {
    font-weight: 500;
}

.chat .heading .details .Status{
    font-size: 10px;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

.flexBox{
    display: flex;
}
.right-3{
    position: absolute;
    right: 3%;
}

.chat .heading .fullScreenIcon{
    background-color: transparent;
    margin: 5px;
    border: none;
    /* position: absolute; */
    /* right: 5em; */
}
.mobile .chat-box .chat .heading .fullScreenIcon{
    margin: 0;
}

.chat .heading .fullScreenIcon .icon{
    border-radius: 5%;
}
.mobile .heading .fullScreenIcon .icon{
    height: 0.8em;
    width: 0.8em;
}

.chat .heading .search-btn{
    background-color: transparent;
    border: none;
    height: 2.3em;
    /* position: absolute; */
    /* right: 3%; */
}

.chat .end{
    position: relative;
}
.chat #searchTxt {
    display: none;
    height: 60px;
    width: 32%;
    max-width: 23em;
    min-width: 200px;
    position: fixed;
    top: -6%;
    right: 9em;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.694);
    border-radius: 10px;
    z-index: 1;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.mobile .chat #searchTxt{
    right: 5em;
}

.chat #searchTxt input{
    width: 60%;
    font-size: small;
    background-color: rgba(0, 0, 0, 0.694);
}
.chat #searchTxt .search_found_span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.chat #searchTxt .move{
    display: flex;
    height: auto;
    width: auto;
    rotate: 90deg;
    margin: 5px;
}

.chat #searchTxt .move .up,
.chat #searchTxt .move .down{
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: transparent;
    padding: 1px;
    margin: 2px;
    color: #bc99e46e;
    outline: none;
    font-size: 16px;
}

.chat #searchTxt .move .up:hover,
.chat #searchTxt .move .down:hover{
    background-color: rgba(80, 86, 151, 0.402);
}

.chat #searchTxt .move button:disabled{
    background-color: rgba(43, 43, 43, 0.573);
}
.chat #searchTxt .move button:disabled:hover{
    background-color: rgba(43, 43, 43, 0.573);
}
.chat .chatBody  {
    position: relative;
    height: 90%;
    width: 92%;
    margin:1%;
    padding: 0 3%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: var(--chat-font-medium);
}

.chat .chatBody .msgDate {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: .2em;
    font-size: var(--chat-font-small);
    --date:"";
}

.chat .chatBody .msgDate::before{
    content: var(--date);
    position: relative;
    display: block;
    height: auto;
    width: auto;
    padding: 5px;
    transform: translateY(-3px);
    border: var(--thin-wh-border);
    background-color: rgba(0, 0, 0, 0.42);
    border-radius: 5px;
}

.chat .chatBody .msgTime{
    height: auto;
    width: auto;
    margin: 0 5px;
    font-size: 12px;
    color: rgba(240, 248, 255, 0.3);
}

.mobile .chat .chatBody .msgTime{
    font-size: 0.6em;
}

.chat .chatBody .msgContainer {
    display: flex;
    height: auto;
    width: auto;
    z-index: 1;
    margin: 10px 0;
    --light-grey-color : rgb(53, 51, 51);
    align-items: end;
}

.chat .chatBody .receive {
    color: #b1b7ce;
    justify-content: start;
}

.chat .chatBody .send {
    color: rgb(255, 255, 255);
    justify-content: end;
}

.chat .chatBody .msgContainer::before{
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    border-top: 5px solid var(--light-grey-color);

}

.chat .chatBody .msgContainer .msg {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    max-width: 55%;
    min-width: 20%;
    padding: 5px;
    background-color:var(--light-grey-color);
    border-radius: 10px;
    text-wrap: pretty;
    overflow-wrap: break-word;
}

@media screen and ( max-width: 900px ) {
    .chat .chatBody .msgContainer .msg{
        max-width: 14rem;
    }
}

@media screen and ( max-width: 700px ) {
    .chat .chatBody .msgContainer .msg{
        max-width: 10rem;
    }
}

.chat .chatBody .receive .msg{
    border-top-left-radius: 0px;
}
.chat .chatBody .send .msg{
    border-top-right-radius: 0px;
}

.chat .chatBody .msgContainer .msg .msgUserDiv {
    display: flex;
    height: auto;
    width: auto;
    font-family: auto;
    border-bottom: .1em solid rgba(128, 128, 128, 0.443);   
    --dp-border-color:aliceblue;

}

.chat .chatBody .msgContainer.receive .msg .msgUserDiv:hover{
    color: green;
    --dp-border-color: green;
    cursor: pointer;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.chat .chatBody .msgContainer .msg .msgUserDiv *{
    margin: 2px;
}

.chat .chatBody .msgContainer .msg .msgUserDiv .msgUserDP {
    height: .8em;
    width: .8em;
    border: .5px solid var(--dp-border-color);
    border-radius: 50%;
}

.chat .chatBody .msgContainer .msg .msgUserDiv .msgUserUnm{
    font-family: inherit;
    font-size: 10px;
}

.chat .chatBody .receive::before{
    align-self: start;
    transform: translateX(-4px);
    border-left: 5px solid transparent;
}

.chat .chatBody .send::before{
    align-self: start;
    transform: translateX(4px);
    border-right: 5px solid transparent;
}

.chat .chatBody .msgContainer .msg .msgData{
    padding: 2px;
    margin: 0;
    user-select: text;
    white-space: pre-wrap;
}

.chat .chatBody .msgContainer .msg .msgImg {
    height: auto;
    width: auto;
    padding: 0px;
    margin: 5px;
    border: 1px solid rgba(240, 248, 255, 0.717);
    border-radius: 5px;
    font-size: 15px;
}
.chat .chatBody .msgContainer .msg .msgImg:hover{
    cursor: pointer;
}

.chat .chatBody .msgContainer .msg .details{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat .chatBody .msgContainer .msg .details .fileName {
    display: inline-block;
    height: 1em;
    padding: 5px;
    margin: 0;
    position: relative;
    white-space: nowrap;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat .chatBody .msgContainer .msg .details .node   {
    display: inline;
    height: 1em;
    padding: 5px;
    font-size: .8em;
    font-family: 'fangsong';
    white-space: break-spaces;
    color: #c5c5ec;
}

.chat .chatBody .msgContainer .msg .progressDiv{
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
}

.chat .chatBody .msgContainer .msg .loader {
    background-image: url('/img/icons/loader.svg');
}
.chat .chatBody .msgContainer .msg .download{
    background-image: url('/img/icons/download.svg');
    background-size: 50px;
    border: 2px solid;
    border-radius: 10px;
    transition: background .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.chat .chatBody .msgContainer .msg .download:hover{
    box-shadow: inset 4px 4px 10px #25232340,
                inset -4px -4px 10px #25232340;
}

.chat .chatBody .msgContainer .msg .download > .progressPR{
    display: none;
}

.chat .chatBody .msgContainer .msg .progressDiv .progressPR{
    position: absolute;
    padding: 3px;
    border: 2px solid;
    border-radius: 5px;
    background-color: #0a0a0a;
}

.chat .chatBody .msgContainer .msg .msgLoad .progressDiv .loaded {
    width: 4em;
}

.chat .footer{
    justify-content: space-evenly;
    flex-direction: row;
    height: auto;
    width: 100%;
    display: inline-flex;
    position: relative;
    margin: 0;    
    padding:  0;
    border-top: 0.5px solid black;
    font-size: var(--chat-font-medium);
    transition: all .5s cubic-bezier(0.04, 0.37, 0.49, 1.04);
}

.chat .footer .upDocsBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    font-size: 25px;
    background-color: transparent;
    color: aliceblue;
}

.chat .footer .upDocsBtn:hover{
    border-color:aliceblue;
}

.chat .footer .upDocsContainer{
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    bottom: 0%;
    left: 2%;
    z-index: -1;

    height: auto;
    width: auto;
    padding: 10px;
    
    background-color: rgba(107, 107, 107, 0.202);
    border-radius: var(--border-radius);
    backdrop-filter: blur(3px);
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.chat .footer .upDocsContainer .node{
    display: block;
    padding: 10px;
    margin: 5px;
    background-blend-mode: color-burn;     
    background-repeat: no-repeat;
    border-radius: 8px 0px;
    background-color: var(--main-bg-color);
}

.chat .footer .upDocsContainer .node:hover{
    border-radius: var(--border-radius) ;
    border-color: #81b2dd;
}

.chat .footer .upDocsContainer .node:nth-child(1) svg{
    fill: rgba(255, 255, 255, 0.349);
    border-radius: 3px;    
}

.chat .footer .upDocsContainer .node:hover:nth-child(1) > svg{
    fill: aliceblue;
}
.chat .footer .upDocsContainer .node:hover:nth-child(2) > svg{
    stroke: aliceblue;
}

.chat .footer .msgInput {
    cursor: auto !important;
    align-content: center;
    height: auto;
    width: 75%;
    padding: 5px 10px;
    margin: 10px 0;
    resize: none;
    color: aliceblue;
    outline: none;
    border: .5px inset rgba(255, 255, 255, 0.436);
    border-radius: 10px;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--chat-font-medium);
    overflow-y: hidden;
}

@media screen and ( max-width:768px ){
    .chat .footer .msgInput{
        width: 60%;
    }
}

.chat .footer .sendMSg{
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    border: none;
}

.chat .footer .sendMSg img{
    height: 30px;
}

.chat .sendMsg:hover > img {
    filter: brightness(50%);
}

.chat .chatBody .msgContainer .optionBtn {
    display: none;
    opacity: 0;
    /* align-self: end; */
    position: relative;
    backdrop-filter: brightness(0.3);
    box-shadow: -5px 5px 20px #00000069;
    border-radius: 3px;
    border: none;
    z-index: 2;
}
.mobile .chat .chatBody .msgContainer .optionBtn {
    opacity: 1;
}

.chat .chatBody .msgContainer.send .optionBtn{
    margin-right: 5px;
}
.chat .chatBody .msgContainer.receive .optionBtn{
    margin-left: 5px;
}

.chat .chatBody .msgContainer:hover > .optionBtn  ,.optionBtn[data-option-show="true"],.mobile .optionBtn {
    opacity: 1 !important;
    display: block !important;
    transition: all .1s cubic-bezier(0.04, 0.37, 0.49, 1.04);
}

.chat .chatBody .msgContainer .optionBtn svg{
    height: 1.3em;
    width: 1.3em;
    fill: aliceblue;
}

.chat .chatBody .msgContainer .optionBtn:hover{
    backdrop-filter: brightness(0.1);
}
.chat .chatBody .msgContainer .optionBtn:hover > svg{
    fill: rgb(83, 83, 83);
}


.optionBtn[data-option-show="true"] > .option-container{
    display: block;
}

.option-container {
    display: none;
    opacity: 1;
    position: absolute;
    height: auto;
    width: 120px;
    padding: 5px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5%;
    font-size: 10px;
    color: white;
    animation: optionContainerAnimation .8s 1 cubic-bezier(0.075, 0.82, 0.165, 1);
}
.mobile .option-container{
    padding: 15px;
    font-size: 12px;
    user-select: none;
}
.mobile .msgContainer.send .option-container{
    left:-8em;
}

@keyframes optionContainerAnimation {
    0%{
        opacity: 0;
    }
}

.option-container .option{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5%;
    margin: 2px;
}
.option-container .option:hover{
    background-color: rgba(35,35,35 , 0.4);
    transition: all .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.option-container .option .option-icon{
    height: 15px;
    width: 15px;
    padding: 0 5px;
}
.option-container .option .option-name{
    height: auto;
    width: auto;
    text-transform: capitalize;
}

.user-profile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4em;
    z-index: 1;
    padding: 10px;
    margin: 11px;
    height: 17em;
    width: 17em;
    border-radius: 5px;
    background-color: var(--list-bg);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.501);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    overflow: auto  ;
    animation: fadein 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes fadein {
    0%{
        top:-10em;
    }
}

.user-profile .flexBox{
    justify-content: space-evenly;
    align-items: center;
}
.user-profile .danger-button{
    margin: 2em;
    width: 20% !important;
    border-radius: 5px;
    font-size: 10px;
    text-shadow: 0px 0px 7px black;
    font-family:  'Times New Roman', Times, serif;
}
.user-profile .avatar{
    margin:5px;
}

.user-profile .detailName{
    font-family: var(--text-font);
}

.user-profile d6{
    display: block;
    height: auto;
    width: 100%;
    margin: 3px 0;
    user-select: text;
    color: var(--heading-color);

}

.user-profile p{
    user-select: text;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Times New Roman', Times, serif;
}

.user-profile .flexBox .avatar{
    height: 20px;
    width: 20px;
}

.user-profile input{
    width: 70%;
    background-color: rgba(0, 0, 0, 0.6);
    outline: none;
    border: none;
    color: white;
    padding: 4px;
    font-size: 10px;
    font-family: auto;
    border-radius: 4px;
}

.user-profile input:hover:not([readonly]) , .user-profile .memberList:hover{
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    transition: box-shadow .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.user-profile .memberList{
    border-bottom:  var(--thin-wh-border);
    border-radius: 5px;
}


.user-profile .flexBox .icon{
    position: absolute;
    right: 5%;
    height: 2em;
    width: 2em;
}

