.highlight{
    background-color: rgba(151, 60, 226, 0.253);
    padding: 0 2px;
    border-radius: 3px;
}

.selectedWordContainer ,
.selectedWord               {
    animation: selectedWordAnimation 1s .2s alternate ;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.selectedWord{
    background-color: rgba(151, 60, 226, 0.808);
}

@keyframes selectedWordAnimation {
    50%{
        background-color: rgba(1, 12, 23, 0.25);
    }
}

.bg-img{
    background-image: url(/img/chat-bg.png);
    background-blend-mode: overlay;
}

.chat-box {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    position: absolute;
    height: 89%;
    min-height: 450px;
    width: 80%;
    min-width: 500px;
    max-width: 2000px;
    margin: 5px;
    padding: 5px;
    transform: translate( 30px , 10px);
    border: 4px solid var(--main-bg-color);
    border-radius: 10px;
    background-color: var(--main-bg-color);
}


.chat-box .inbox {
    background-color: var(--main-bg-color);
    display: block;
    position: relative;
    height: calc(96% + 5px);
    width: 15em;
    padding: 6px;
    border-radius:10px 0 0 10px;
    outline: 2px solid rgb(1, 12, 23);
}

@media screen and ( max-width:900px ){
    .chat-box .inbox {
        width:290px;
    }
}

.chat-box .inbox .page-name{
    display: block;
    position: relative;
}

.chat-box .inbox .page-name #cname{
    font-size: 20px;
    text-transform: capitalize;
    padding: 0%;
    margin: 15px;
    color: var(--heading-color);
}

.chat-box .inbox .hr{
    height: 1.5px;
    width: calc(100% + 10px);
    margin: 6px 0px;
    transform: translateX(-6px);
    background-color: rgba(240, 248, 255, 0.423);
}

.chat-box .search   {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--main-bg-color);
    
}

.chat-box .search input{
    height: 30px;
    width: 80%;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 10px;
    border:none;
    outline: none;
    border-bottom: 2px inset white;
    background-color:rgb(1, 12, 23);
    color: rgba(255, 255, 255, 0.756);
}

.chat-box .search input:focus   {
    border-color: blueviolet;
    transition: 1s border cubic-bezier(0.165, 0.84, 0.44, 1);
}

.listBody {
    display: block ;
    max-width: 100%;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.list  {
    height: calc(100% - 110px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    background-color: var(--main-bg-color);
}

.list .inbox-user  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    padding: 5px;
    margin: 0 10px;
    border-bottom: 1px outset var(--thin-wh-border);
    align-content: center;
}
.list .inbox-user:hover , .list .selected { 
    transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1); 
    background-color: rgba(145, 145, 145, 0.218);
}

.list .img  {
    display: block;
    height: 30px;
    width: 30px;
    padding: 0px;
    margin: 7px;
    border-radius: 50%;
}
/* span for skeleton loadding animation */
.list .img img , .list .img span {
    display: block;
    height: inherit;
    width: inherit;
    border-radius: 50%;
}

.list .details {
    height: 40px;
    max-width: 70%;
    display: block;
    padding: 3px;
    background-color: var(--list--bg);
    margin: 2px;
}

.list .inbox-name,.list .last-chat{
    margin: 2px;
    user-select: text;
}

.list .inbox-name{
    font-size: 15px;
}

.list .last-chat{
    max-height: 35px;
    max-width: 220px;
    min-width: 150px;
    display: inline-block;
    padding: 4px 0 0 0;
    word-break: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11px;
}

.list .listBody .inbox-user:hover,
.chat .heading .icon:hover,
.chat .ele:hover,
.chat .msgInput {
    cursor: pointer;
    background-color: rgba(145, 145, 145, 0.218) !important;
}

.blank-layer-chat{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: var(--main-bg-color);
}

.chat {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(98% + 5px);
    width: 70%;
    margin: 0px 10px;
    outline: 2px solid rgb(1, 12, 23);
    border-radius: 0 10px 10px 0;
    background-color: var(--main-bg-color);
    font-family: 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    --chat-font-small : 12px;
    --chat-font-medium : 15px;
}

@media screen and ( min-width:1650px ){
    .chat {
        --chat-font-small : 17px;
        --chat-font-medium : 20px;            
    }
}

@media screen and ( max-width:768px ){
    .chat {
        --chat-font-small : 8px;
        --chat-font-medium : 10px;            
    }
}

.chat .heading {
    height: 5em;
    width: 100%;
    justify-content: start;
    border-bottom: 0.5px solid black;
    background-image: url(/img/icons/wind.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 100% 20%;
    background-attachment: fixed;
}

.chat .heading .icon{
    margin: 5px;
    border-radius: 50%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.chat .heading .icon img {
    height: 1em;
    width: 1em;
    padding: 5px;
}

.chat .heading .dp{
    height: 60%;
    margin: 0 5px;
}
.chat .heading .dp img {
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

.chat .heading .details {
    width: auto;
    max-width: 15em;
}

.chat .heading .details .name{
    font-family: var(--text-font);
    font-weight: 900;
} 
.chat .heading .details .Status{
    font-size: 10px;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

.chat .heading .search-btn{
    position: absolute;
    right: 3%;
}
.chat .end{
    position: relative;
}
.chat #searchTxt {
    display: none;
    height: 60px;
    width: 32%;
    max-width: 23em;
    min-width: 200px;
    position: fixed;
    top: -6%;
    right: 8%;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.694);
    border-radius: 10px;
    z-index: 1;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.chat #searchTxt input{
    width: 60%;
    font-size: small;
    background-color: rgba(0, 0, 0, 0.694);
}
.chat #searchTxt .search_found_span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.chat #searchTxt .move{
    display: flex;
    height: auto;
    width: auto;
    rotate: 90deg;
    margin: 5px;
}

.chat #searchTxt .move .up,
.chat #searchTxt .move .down{
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: transparent;
    padding: 1px;
    margin: 2px;
    color: #bc99e46e;
    outline: none;
    font-size: 16px;
}

.chat #searchTxt .move .up:hover,
.chat #searchTxt .move .down:hover{
    background-color: rgba(80, 86, 151, 0.402);
}

.chat #searchTxt .move button:disabled{
    background-color: rgba(43, 43, 43, 0.573);
}
.chat #searchTxt .move button:disabled:hover{
    background-color: rgba(43, 43, 43, 0.573);
}
.chat .chatBody  {
    position: relative;
    height: 90%;
    width: 92%;
    margin:1%;
    padding: 0 3%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: var(--chat-font-medium);
}

.chat .chatBody .msgDate {
    display: flex;
    justify-content: center;
    padding: .2em;
    margin: .2em;
    font-size: var(--chat-font-small);
}

.chat .chatBody .msgDate::before{
    content: "";
    position: absolute;
    display: block;
    height: 1.5em;
    width: 5em;
    transform: translateY(-3px);
    border: 1px solid var(--thin-wh-border);
    background-color: rgba(0, 0, 0, 0.42);
    border-radius: 5px;
}

.chat .chatBody .msgTime{
    height: auto;
    width: auto;
    margin: 0 5px;
    opacity: 50%;
    font-size: 12px;
}

.chat .chatBody .msgContainer {
    display: flex;
    height: auto;
    width: auto;
    z-index: 1;
    margin: 10px 0;
    --light-grey-color : rgb(53, 51, 51);
    align-items: end;
}


.chat .chatBody .msgContainer .msg {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    max-width: 55%;
    min-width: 30%;
    padding: 5px;
    background-color:var(--light-grey-color);
    border-radius: 10px;
    text-wrap: pretty;
    user-select: text;
    overflow-wrap: break-word;
}

@media screen and ( max-width: 900px ) {
    .chat .chatBody .msgContainer .msg{
        max-width: 14rem;
    }
}


@media screen and ( max-width: 700px ) {
    .chat .chatBody .msgContainer .msg{
        max-width: 10rem;
    }
}

.chat .chatBody .receive {
    color: #9eaad8;
    justify-content: start;
}

.chat .chatBody .send {
    color: rgb(190, 205, 217);
    justify-content: end;
}

.chat .chatBody .msgContainer::before{
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    border-top: 5px solid var(--light-grey-color);

}

.chat .chatBody .receive .msg{
    border-top-left-radius: 0px;
}

.chat .chatBody .send .msg{
    border-top-right-radius: 0px;
}

.chat .chatBody .receive::before{
    transform: translateX(-4px);
    border-left: 5px solid transparent;
}

.chat .chatBody .send::before{
    align-self: start;
    transform: translateX(4px);
    border-right: 5px solid transparent;
}

.chat .chatBody .msgContainer .msg .msgData{
    padding: 2px;
    margin: 0;
    white-space: pre-wrap;
}

.chat .chatBody .msgContainer .msg .msgImg {
    height: auto;
    width: auto;
    padding: 0px;
    margin: 5px;
    border: 1px solid rgba(240, 248, 255, 0.717);
    border-radius: 5px;
    font-size: 15px;
}

.chat .chatBody .msgContainer .msg .fileName {
    padding: 5px;
    margin: 0;
}

.chat .chatBody .msgContainer .msg .optionBtn {
    display: block;
    right: 3%;
    opacity: 0;
    position: absolute;
    backdrop-filter: brightness(0.3);
    box-shadow: -5px 5px 20px #00000069;
    border-radius: 3px;
    border: none;
}

.chat .chatBody .msgContainer .msg:hover > .optionBtn {
    display: block;
    opacity: 1;
    z-index: 1;
    right: 4%;
    transition: all .1s cubic-bezier(0.04, 0.37, 0.49, 1.04);
}

.chat .chatBody .msgContainer .msg .optionBtn svg{
    height: 1.5em;
    width: 1.5em;
    fill: aliceblue;
}

.chat .chatBody .msgContainer .msg .optionBtn:hover{
    backdrop-filter: brightness(0.1);
}
.chat .chatBody .msgContainer .msg .optionBtn:hover > svg{
    fill: rgb(83, 83, 83);
}

.chat .chatBody .msgContainer .msg .progressDiv{
    display: flex;
    height: auto;
    width: auto;
    align-items: end;
    justify-content: end;
}

.chat .chatBody .msgContainer .msg .loadedPr{
    position: absolute;
}

.chat .chatBody .msgContainer .msg .msgDoc .progressDiv .loaded {
    width: 4em;
}

.chat .footer{
    justify-content: space-evenly;
    flex-direction: row;
    height: auto;
    width: 100%;
    display: inline-flex;
    position: relative;
    /* margin: 5px; */
    /* padding: 10px 0; */
    border-top: 0.5px solid black;
    font-size: var(--chat-font-medium);
    transition: all .5s cubic-bezier(0.04, 0.37, 0.49, 1.04);
}

.chat .footer .upDocsBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    font-size: 25px;
}

.chat .footer .upDocsBtn:hover{
    border-color:aliceblue;
}

.chat .footer .upDocsContainer{
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    bottom: 0%;
    left: 2%;
    z-index: -1;

    height: auto;
    width: auto;
    padding: 10px;
    
    background-color: rgba(107, 107, 107, 0.202);
    border-radius: var(--border-radius);
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.chat .footer .upDocsContainer .node{
    display: block;
    height: 20px;
    width: 20px;
    padding: 10px;
    margin: 5px;
    background-blend-mode: color-burn;     
    background-repeat: no-repeat;
    border-radius: 8px 0px;
}

.chat .footer .upDocsContainer .node:hover{
    border-radius: var(--border-radius) ;
    border-color: aliceblue;
}

.chat .footer .upDocsContainer .node:nth-child(1) svg{
    fill: rgba(255, 255, 255, 0.349);
    border-radius: 3px;    
}

.chat .footer .upDocsContainer .node:hover:nth-child(1) > svg{
    fill: aliceblue;
}
.chat .footer .upDocsContainer .node:hover:nth-child(2) > svg{
    stroke: aliceblue;
}

.chat .footer .msgInput {
    cursor: auto !important;
    align-content: center;
    height: auto;
    width: 75%;
    padding: 5px 10px;
    margin: 10px 0;
    resize: none;
    color: aliceblue;
    outline: none;
    border: .5px inset rgba(255, 255, 255, 0.436);
    border-radius: 10px;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--chat-font-medium);
    overflow-y: hidden;
}

@media screen and ( max-width:768px ){
    .chat .footer .msgInput{
        width: 60%;
    }
}

.chat .footer .sendMSg{
    cursor: pointer;
    padding: 5px;
    border: none;
}

.chat .footer .sendMSg img{
    height: 30px;
}

.chat .sendMsg:hover > img {
    filter: brightness(50%);
}