:root   {
    --options-selected-border : 1.5px solid rgba(155, 155, 155, 0.37);
    --options-selected-border-color:rgba(137, 43, 226, 0.854);
    --main-bg-color : rgb(33, 32, 32);
    --list-bg : rgb(53, 51, 51);
    --border-radius :  0px 10px;
    --text-color : rgb(89, 43, 226);
    --heading-color:#8c41b8;
    --thin-wh-border : 1px outset rgba(240, 248, 255, 0.321);
    --default-font : 'Courier New', Courier, monospace;
    --text-font : Arial, sans-serif;
    font-family: var(--default-font);
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track   {
    background-color:rgb(1, 12, 23);

}

::-webkit-scrollbar-thumb {
    background-color: rgb(140 65 179);
}

.icon , .no-select{
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.icon[data-show="false"]{
    display: none;
}
.icon[data-show="true"]{
    display: block;
}

.mobile .icon {
    margin: 0 !important;
}

.red{
    color: red;
    --color: red;
    border-color: red;
}
.green{
    color: green;
    --color: green;
    border-color: green;
}
.orange{
    color: orange;
    --color: orange;
    border-color: orange;
}
.blue{
    color: blue;
    --color: blue;
    border-color: blue;
}

span{
    font-family: var(--text-font);
}

.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;    
}
.loader-img{
    height: 30px;
    width: 30px;
}
.loader-text{

}

#preview {
    display: block;
    height: auto;
    width: auto;
}

#preview.fullScreen {
    display: flex;
    justify-self: center;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter:blur(4px);
    height: 90%;
    width: 90%;
    padding: 10px;
    border-radius: 2em;
}

.fullScreen .details{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    align-self: flex-end;
}

.fullScreen .details .name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fullScreen .details *{
    padding: 5px;
}

.fullScreen .close, .fullScreen .fullScreenIcon{
    position: absolute;
    display: block;
    justify-self: end;
    align-self: center;
    right: 2em;
    top: 2em;
    padding: .5em;
    background-color: transparent;
}

.fullScreen .fullScreenIcon{
    border: none;
    right: 6em;
}

.fullScreen .close img,.fullScreenIcon .icon{
    height: 1em;
    width: 1em;
}

.fullScreenIcon .icon{
    border-top: 1px solid aliceblue;
    border-right: 1px solid aliceblue;
    outline: 1px solid aliceblue;
    outline-offset: 2px;
}

.fullScreen .img{
    max-height: 80%;
    max-width: 80%;
    outline: .1em solid aliceblue;
    outline-offset: .4em;
    border-radius: 1em;
}

/* for chat meme sharing */
#preview.small-img .img {
    height: 1em;
    width: 1em;
}
#preview.big-img .img {
    height: 5em;
    width: 5em;
}

.ele{
    border: 1px solid rgba(255, 255, 255, 0.436);
    border-radius: 10px;
    transition: all .5s cubic-bezier(0.04, 0.37, 0.49, 1.04);
}

.ele:hover{
    cursor: pointer;
    background-color: rgba(145, 145, 145, 0.218) !important;
}

body.main{
    background-color:rgb(1, 12, 23);
    color: aliceblue;
    user-select: none;
}

.skeleton   {
    animation: skeleton 1s linear infinite alternate;
}

.skeleton-text  {
    height: .6rem;
    width: 100%;
    border-radius: .25rem;
    margin: 6px 0 !important;
    filter: blur(10%);
}

.skeleton-text:last-child   {
    width: 70%;
    margin-bottom: 0;
}

@keyframes skeleton {
    0%  { background-color: rgba(46, 46, 46, 0.6); }
    100%  { background-color: rgba(72, 72, 72, 0.5); }
}

.show {
    opacity: 1 !important;
    right: 0px !important;
}

.absolute   {
    position: absolute;
}

header  {
    position: relative;
    display: flex;
    height: 30px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.title{
    text-transform: capitalize;
    height: inherit;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

header .title h1 , header .title img  {
    height: 30px;
    font-size: 25px;
}

header .Status{
    align-self: center;
    position: absolute;
    right: 10%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 20px;
    width: 20px;
    border: 1px solid var(--color);
}

header .Status .status-icon {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: var(--color);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    font-size: 12px;
    padding: 15px;
}

.side-bar   {
    display: block;
    position: absolute;
    top: 7%;
    left: 6%;
    width: auto;
    height: auto;
    padding: 5px;
    margin: 4px;
}
.mobile .side-bar{
    left: 0;
    padding: 5px 0;
    margin: 4px 0;
}

.side-bar .options  {
    margin: 0 2px;
    cursor: pointer;

    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.side-bar .bottom   {
    display: flex;
    position: fixed;
    bottom: 2%;
    flex-direction: column;
}


.side-bar .options .img  {
    /* height: 30px; */
    /* width: 30px; */
    display: flex;  
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding: 8px;
    border-radius: 3px;
}

.avatar_block{
    display: flex;
    flex-wrap:nowrap;
    align-items: center;
}

.avatar_block input {
    padding: 0px 5px;
}

.avatar  {
    margin: 0px;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    border: 2px solid aliceblue;
    border-radius: 100%;
}
.mobile .avatar {
    height: 40px;
    width: 40px;
    
}

.avatar_preview {
    max-height: 40px;
    max-width: 40px;
}

.side-bar .options .img img {
    height: 2vh;
    width: 2vh;
    mix-blend-mode: lighten;
}

.side-bar .options > .img{
    transition: .5s background ;
}

.side-bar .options:hover > .img  {
    background-color: rgba(80, 79, 79, 0.623);
    opacity: 80%;
}

.side-bar .options h6 {
    margin: 1px;
    font-size: calc(80%);
    transform: translateX(-7%);
}

.side-bar .selected > .img  {
    border: var(--options-selected-border);
    border-radius: var(--border-radius) !important;
    transition: all .2s 1 cubic-bezier(0.11, 0.82, 0.33, 1.1);
}

.noti-box{
    display: block !important;
    background-color: rgba(0, 0, 0, 0.861);
}

.noti-box .title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 15px;
    height: 10%;
    width: 100%;
    border-bottom: 3px solid var(--text-color);
}

.noti-box .conteiner{
    width: 100%;
    max-height: 500px;
    max-height: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.noti-box .conteiner .box_data{
    height: auto;
    width: 90%;
    padding: 5px; 
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    border: 3px solid rgba(245, 245, 245, 0.131);
    border-radius: 10px;
}

.noti-box .conteiner .addUserReq{
    
}

.noti-box .conteiner .box_data .unm {
    padding: 0;
    margin: 5px;
    color: var(--text-color);
}

.noti-box .conteiner .box_data .hr {
    display: block;
    height: 1.5px;
    width: 100%;
    background-color: var(--text-color);
    margin: 5px 0   ;
}

.noti-box .conteiner .box_data .msg {
    font-size: small;
    padding: 5px;
    font-family: var(--text-font);
}

.noti-box .conteiner .box_data .reject_btn , .noti-box .conteiner .box_data .accept_btn {
    height: 1.8rem;
    width: 30% !important;
}

.noti-box .conteiner .box_data .reject_btn{
    left: -20% ;
}
.noti-box .conteiner .box_data .accept_btn{
    left: 10% ;
}

.noti-box .conteiner .box_data .delete_btn{
    left: 0;
}

.new_noti::after{
    content: "";
    height: 7px;
    width: 7px;
    display: block;
    position: absolute;
    top: 30%;
    right: 20%;
    border-radius: 50%;
    z-index: 1;
    background-color: blueviolet;
}

.settings-box ,.noti-box  {
    display: flex;
    box-sizing: border-box;
    position: fixed;
    left: 1%;
    height: 500px;
    max-height: 80%;
    width: 30rem;
    z-index: 1;
    border-radius: var(--border-radius);
    background-image: linear-gradient(to right , rgba(6, 27, 48, 0.426) 30% , rgba(6, 27, 48, 0.625));
    transition: bottom .5s cubic-bezier(0, 0.81, 0.27, 1.02) ;
}
.mobile .settings-box, .mobile .noti-box{
    width: 20em;
    height: 18em;
}

@media screen and (max-width:700px) {
    .settings-box ,.noti-box{
        width: 25em;
    }
}

.settings-box_hide , .noti-box_hide {
    opacity: 0%;
    bottom: -600px;
    transition:   bottom .5s cubic-bezier(0, 0.81, 0.27, 1.02) , opacity .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.settings-box_show , .noti-box_show {
    opacity: 100%;
    bottom: 14px;
}

.settings-box ul {    
    height: calc(100% - 28px);
    width: 130px;
    background-color: rgba(25, 45, 65, 0.69);
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4) , -5px -5px 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    padding: 7px;
    margin: 7px;
    list-style-type: none;
    overflow-y: auto;
}
.mobile .settings-box ul{
    width: 6.5em;
}

.settings-box ul li {
    height: 30px;
    width: auto;
    margin: 10px 0;
    padding: 3px;
    position: relative;
    display: flex;
    align-items: center;
}
.mobile .settings-box ul li{
    padding: 0;
    margin: 5px 0;
}
.mobile .settings-box ul li p{
    font-size: 12px;
}

.settings-box ul li:last-child {
    bottom: 0%;
    position: fixed;
    width: 80%;
}

.settings-box ul li:hover   {
    opacity: 80%;
}

.settings-box ul li:hover , .settings-box .selected {
    background-color: rgba(0, 0, 0, 0.687);
    box-shadow: 1px 1px 5px rgba(137, 43, 226, 0.2);
    border-radius: var(--border-radius);
    transition: background-color, opacity .5s ease-in-out;
}

.settings-box .selected > div img  {
    height: 18px;
    width: 18px;
}

.settings-box .selected , .side-bar .selected > .img , .side-bar .options:not(.selected,.profile):hover > .img {
    animation: borderLeft .1s 1 cubic-bezier(0.11, 0.82, 0.33, 1.1);
    border-left: 3px solid rgba(137, 43, 226, 0.854);
}
.side-bar .profile:hover > .img > img {
    border-color: var(--options-selected-border-color) ;
    transition: border .1s 1 cubic-bezier(0.11, 0.82, 0.33, 1.1) ;
}

@keyframes borderLeft{
    0%{border-left: none;}
    50%{border-left:2px solid var(--options-selected-border-color)}
    100%{border-left: 3px solid var(--options-selected-border-color);}
}

.settings-box ul li div {
    padding: 0 10px 0 5px;
}
.mobile .settings-box ul li div img{
    height: 15px;
    width: 15px;
}


.settings-box .settings-container {
    height: calc(100% - 28px);
    width: 65%;
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4) , -5px -5px 10px rgba(0, 0, 0, 0.4);
    /* filter: blur(0px); */
    padding: 7px;    margin: 7px;
    background-color: rgba(25, 45, 65, 0.836);
    color: rgb(255, 255, 255);
    font-family: var(--text-font);
    font-weight: 400;
    overflow-y: auto;
    overflow-x: hidden;

}

.settings-box .settings-container h4{
    font-family: var(--default-font);
}

.settings-box .settings-container p{
    font-size: 1rem;
}

.settings-box .settings-container .body{
    display: block;
    position: relative;
    margin: 17px;
    padding-bottom: 10px;
    height: auto;
    width: 90%;
}

.settings-box .settings-container .body .heading   {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0 0 10px 0;
    border-bottom: 2px solid rgba(208, 229, 248, 0.149);
}

.checkbox {
    display: flex;
    align-items: center;

}

.checkbox input[type='checkbox']   {
    appearance: none;    
    height: 20px; 
    width: 20px;
    border: 2px solid rgba(183, 221, 255, 0.3);
    margin-right: 10px;
    transition: all 0.5s cubic-bezier(0, 0.81, 0.27, 1.02);
    border-radius: 4px;
    cursor: pointer;
}
.checkbox input[type='checkbox']::after    {
    content: "";
    height: 10px;
    width: 5px;
    position: relative;
    display: none;
    transform: rotate(45deg);
    border-bottom: 2px solid aliceblue;
    border-right: 2px solid aliceblue;
    left: 5px;
}

.checkbox input[type='checkbox']:hover    {
    background-color: rgba(0, 0, 0, 0.649);
}

.checkbox input[type='checkbox']:checked  {
    background-color: green;
}

.checkbox input[type='checkbox']:checked::after  {
    display: flex;
}

.settings-box .settings-container .body .swipe-btn {
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 17px;
}
.mobile .settings-box .settings-container .body .swipe-btn {
    margin: 0px;
    font-size: 10px;
}

.settings-box .settings-container .body .swipe-btn input[type='checkbox']   {
    appearance: none;    
    height: 31px;
    width: 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, 0.544);
    background-color: rgb(0 0 0 );
    border-radius: 15.5px;
    transition: all .5s cubic-bezier(0, 0.27, 0.85, 1.17);

}

.settings-box .settings-container .body .swipe-btn input[type='checkbox']::after  {
    content: "";
    height: 20px;
    width: 20px;
    position: relative;
    border:2px solid rgba(0, 0, 0, 0.9);
    border-radius: 100%;
    background-color:rgb(255, 252, 252);
}

.settings-box .settings-container .body .swipe-btn input[type='checkbox']:checked   {
    background-color: rgb(255, 253, 253);
}

.settings-box .settings-container .body .swipe-btn input[type='checkbox']:checked::after  {
    left:29px;
    background-color: rgba(0, 0, 0, 0.9);
    animation: swipe .5s cubic-bezier(0, 0.27, 0.85, 1.17) ;
}

@keyframes swipe {
    0%  {
        height: 20px;
        width: 20px;
        transform: translateX(0);
    }
    50%{
        transform: translateX(8px);
        height: 18px;
        width: 18px;
    }
    100%{
        height: 20px;
        width: 20px;
    }
}

.settings-box .settings-container .body .edit_img{
    height: 1rem;
    width: 1rem;
    position: absolute;
    transform: translate(59px, -20px);
    border-radius: 4px;
    background-color: aliceblue;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7);
    transition: all .2s;
}
.mobile .settings-box .settings-container .body .edit_img{
    transform: translate(30px, -20px);
}

.settings-box .settings-container .body .profile-dp img{
    border-radius: 100%;
}

.settings-box .settings-container .body .grid{
    display: grid;
    align-content: center;
    align-items: center;
    height: 30px;
}

.mobile .settings-box .settings-container .body .text ,
.mobile .checkbox ,
.mobile .settings-box .settings-container p ,
.mobile .link {
    font-size: 10px !important;
}

.settings-box .settings-container .body .text{
    display: block;
    height: 30px;
    width: 100%;
    margin: 3px 0;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    user-select: text;
    grid-column: 1;
}

.settings-box .settings-container .body textarea.text{
    font-size: 13px;
    min-height: 65px; 
    max-height: 65px; 
    height:65px;
    min-width: 100%;
    max-width: 100%;
}

.settings-box .settings-container .body .grid .edit {
    border: 1px solid rgba(255, 255, 255, 0.373);
    border-radius: 5.5px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.64);
}

.settings-box .settings-container .body .grid .edit-icon{
    height:20px;
    width:20px;
    position: relative;
    padding: 3px;
    margin: 0px 10px;
    grid-column: 2;
    border: none;
}

.settings-box .settings-container .body .grid .edit-icon:hover {
    border: none;
    border-radius: 3px;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.margin-dead {
    margin:0px;
}

.center{
    display: flex;
    justify-content: center;
}

.end{
    display: flex;
    justify-content: end;
}

.align-center{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.link {
    color:rgb(3, 218, 3);
    text-decoration: none;
    filter: brightness(100%);
}

.link:hover{
    color: rgb(0, 153, 0);
}

.danger{
    color: red;
}

.success-button{
    position: relative;
    text-decoration: none;
    filter: brightness(100%);
    font-weight: 700;
    width: 50% !important;
    left: 40%;
    --margin: 5px;
    --color: aliceblue;
    --background-image: linear-gradient(to bottom right , rgb(89, 43, 226) ,rgba(33, 16, 84, 0.797) , rgb(89, 43, 226) );
    --btn-shadow: rgba(12, 56, 145, 0.489);
}
.danger-button {
    text-decoration: none;
    filter: brightness(100%);
    font-weight: 700;
    width: 50% !important;
    --margin: 5px;
    --color: rgb(98 0 0);
    --background-image: linear-gradient(to bottom right, rgb(70 20 20 / 83%), rgb(254 158 158 / 50%), rgb(70 20 20 / 83%));
    --btn-shadow: rgba(206, 82, 82, 0.466);
    
}

.settings-container .danger-button{
    position: relative;
    left: 40%;
}

.button {
    height: 2rem;
    width: 30%;
    cursor: pointer;
    text-transform: capitalize;
    margin: var(--margin);    
    color: var(--color) ;
    background-image: var(--background-image);
    border-radius: 30px;
    border: none;
    outline: 2px solid #a9a9a96b;
    transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);

    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    box-shadow: 1px 1px 10px var(--btn-shadow);
    filter: brightness(80%);
    outline-offset: 2px;
}

/* input field css */
.input_field    {
    height: auto;
    width: auto;
    position: relative;
    text-align: start;
    color: aliceblue;
    margin: 5px;
    padding: 5px;
}

.input_field .input input{
    height: 2rem;
    width: 20rem;
    position: relative;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 10px;
    margin: 5px;
    font-family: var(--default-font);
    font-size: 0.9rem;
    border-bottom: 2px solid aliceblue;
    border-radius: none;
    top:15px;
    color: aliceblue;
    transition: box-shadow 2s cubic-bezier(0.56, 0.11, 0.85, 0.46);
}

.mobile .input_field .input input{
    width: 14rem;
}

.input_field .input input:focus , .input_field .input input:not(:placeholder-shown), .input_field .input input:hover{
    border-color: var(--text-color) !important;
    transition: border-color .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #aeaeae49;
    border-radius: 4px;
}

.input_field label  {
    width: 50%;
    display: block;
    position: relative;
    z-index: 1;
    top: -15px;
    left: 10px;
    font-size: 0.8rem;
    transition: all .5s;
}

.input_field .input input:focus + label ,.input_field .input input:not(:placeholder-shown) + label    {
    transform: translate(-10px , -20px);
    color: var(--text-color);
}

.name_field{
    display: flex;
    position: relative;
}

.name_field input {
    width: 9.5rem !important;
    text-transform: capitalize;
}

.name_field label  {
    width: 60%;
    font-size: 0.8rem;
}

.input_field img[name="eye"] {
    display: block;
    position: relative;
    top: 27px;
    left:300px;
    z-index: 1;
}

.input_field span   {
    display: none;
    text-align: end;
    font-weight: 100;
    color: rgb(240, 31, 31);
    font-size: .8rem;
}

.input_field #pass_rules {
    height: auto;
    display: none;
    text-align: start;
    text-transform: capitalize;
    color: #bf6ae2;
    font-size: .8rem;
}

.input_field #pass_rules p{
    margin: 0 ;
}

.input_field #pass_rules span{
    text-align: start;
}
/*  */

@media screen and ( max-width:768px ) {
    header{
        display: grid !important;
    }
    header .title{
        height: auto !important;
    }
    header .title h1{
        margin : 0px;
    }
    header p {
        display: none;
    }

}
