:root   {
    --options-selected-border : 1.5px solid rgba(155, 155, 155, 0.37);
    --options-selected-border-left:5px solid rgba(137, 43, 226, 0.854);
    --main-bg-color : rgb(33, 32, 32);
    --list-bg : rgb(53, 51, 51);
    --border-radius :  0px 10px;
    --text-color : rgb(89, 43, 226);
    --heading-color:#8c41b8;
    --thin-wh-border : rgba(240, 248, 255, 0.321);
    --default-font : 'Courier New', Courier, monospace;
    --text-font : 'Arial Narrow', Arial, sans-serif;
    font-family: var(--default-font);
}


::-webkit-scrollbar {
    width: 2px;
    height: 3px;
}

::-webkit-scrollbar-track   {
    background-color:rgb(1, 12, 23);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(140 65 179);
}

span{
    font-family: var(--text-font);
}

body.main{
    background-color:rgb(1, 12, 23);
    color: aliceblue;
    user-select: none;
    width: 100%;
}

.skeleton   {
    animation: skeleton 1s linear infinite alternate ;
    z-index: 1;
}

.skeleton-text  {
    height: .6rem;
    width: 100%;
    border-radius: .25rem;
    margin: 6px 0 !important;
    filter: blur(10%);

}

.skeleton-text:last-child   {
    width: 70%;
    margin-bottom: 0;
}

@keyframes skeleton {
    0%  { background-color: rgba(46, 46, 46, 0.6); }
    100%  { background-color: rgba(72, 72, 72, 0.5); }
}

.show {
    opacity: 1 !important;
    right: 0px !important;
}

.absolute   {
    position: absolute;
}

header  {
    position: relative;
    display: flex;
    height: 30px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.title{
    height: inherit;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

header .title h1 , header .title img  {
    height: 30px;
    font-size: 25px;
}

header .Status{
    align-self: center;
    position: absolute;
    right: 10%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 20px;
    width: 20px;
    --color: green;
    border: 1px solid var(--color);
}

header .Status .status-icon {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: var(--color);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    font-size: 12px;
}

.side-bar   {
    display: block;
    position: absolute;
    top: 7%;
    left: 6%;
    width: auto;
    height: auto;
    padding: 5px;
    margin: 4px;
}

.side-bar .options  {
    margin: 5px 2px;
}

.side-bar .bottom   {
    display: block;
    position: fixed;
    bottom: 2%;
}


.side-bar .options .img  {
    height: 30px;
    width: 30px;
    display: flex;  
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding: 2px;
    border-radius: 3px;
}

.avatar_block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.avatar_block input {
    padding: 0px 5px;
}

.avatar  {
    margin: 0px;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    border: 2px solid aliceblue;
    border-radius: 100%;
}

.avatar_preview {
    max-height: 40px;
    max-width: 40px;
}

.side-bar .options .img img {
    height: 15px;
    width: 15px;
    mix-blend-mode: lighten;
}

.side-bar .options > .img{
    transition: .5s background ;
}

.side-bar .options:hover > .img  {
    background-color: rgba(80, 79, 79, 0.623);
    opacity: 80%;
}

.side-bar .options h6 {
    margin: 1px;
    font-size: calc(80%);
    transform: translateX(-7%);
}

.side-bar .selected > .img {
    border: var(--options-selected-border);
    border-left: var(--options-selected-border-left);
    border-radius: var(--border-radius) !important;
}

.noti-box{
    display: block !important;
    background-color: rgba(0, 0, 0, 0.861);
}

.noti-box .title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 15px;
    height: 10%;
    width: 100%;
    border-bottom: 3px solid var(--text-color);
}

.noti-box .conteiner{
    width: 100%;
    max-height: 500px;
    max-height: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.noti-box .conteiner .box_data{
    height: auto;
    width: 90%;
    padding: 5px; 
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    border: 3px solid rgba(245, 245, 245, 0.131);
    border-radius: 10px;
}

.noti-box .conteiner .addUserReq{
    
}

.noti-box .conteiner .box_data .unm {
    padding: none;
    margin: 5px;
    color: var(--text-color);
}

.noti-box .conteiner .box_data .hr {
    display: block;
    height: 1.5px;
    width: 80%;
    background-color: var(--text-color);
    margin: 5px 0   ;
}

.noti-box .conteiner .box_data .msg {
    font-size: small;
    font-family: var(--text-font);
}

.noti-box .conteiner .box_data .reject_btn , .noti-box .conteiner .box_data .accept_btn {
    height: 1.8rem;
    width: 30% !important;
}

.noti-box .conteiner .box_data .reject_btn{
    left: -20% ;
}
.noti-box .conteiner .box_data .accept_btn{
    left: 10% ;
}

.noti-box .conteiner .box_data .delete_btn{
    left: 0;
}

.new_noti{
    background-color: blueviolet;
}

.settings-box ,.noti-box  {
    display: flex;
    box-sizing: border-box;
    position: fixed;
    left: 1%;
    height: 500px;
    max-height: 80%;
    width: 500px;
    z-index: 1;
    border-radius: var(--border-radius);
    background-image: linear-gradient(to right , rgba(6, 27, 48, 0.426) 30% , rgba(6, 27, 48, 0.625));
    transition: bottom .5s cubic-bezier(0, 0.81, 0.27, 1.02) ;
}

.settings-box_hide , .noti-box_hide {
    opacity: 0%;
    bottom: -600px;
    transition:   bottom .5s cubic-bezier(0, 0.81, 0.27, 1.02) , opacity .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.settings-box_show , .noti-box_show {
    opacity: 100%;
    bottom: 14px;
}

.settings-box ul {    
    height: calc(100% - 28px);
    width: 130px;
    background-color: rgba(25, 45, 65, 0.69);
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4) , -5px -5px 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    padding: 7px;
    margin: 7px;
    list-style-type: none;
    overflow-y: auto;
}

.settings-box ul li {
    height: 30px;
    width: auto;
    margin: 10px 0;
    padding: 3px;
    position: relative;
    display: flex;
    align-items: center;
}

.settings-box ul li:last-child {
    bottom: 0%;
    position: fixed;
    width: 80%;
}

.settings-box ul li:hover   {
    opacity: 80%;
}

.settings-box ul li:hover , .settings-box .selected {
    background-color: rgba(0, 0, 0, 0.687);
    box-shadow: 1px 1px 5px rgba(137, 43, 226, 0.2);
    border-radius: var(--border-radius);
    transition: background-color opacity .2s ease-in-out;
}

.settings-box .selected > div img  {
    height: 18px;
    width: 18px;
}

.settings-box .selected {
    border-left: var(--options-selected-border-left);
}

.settings-box ul li div {
    padding: 0 10px 0 5px;
}

.settings-box .settings-container {
    height: calc(100% - 28px);
    width: 65%;
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4) , -5px -5px 10px rgba(0, 0, 0, 0.4);
    /* filter: blur(0px); */
    padding: 7px;    margin: 7px;
    background-color: rgba(25, 45, 65, 0.836);
    color: rgb(255, 255, 255);
    font-family: var(--text-font);
    font-weight: 400;
    overflow-y: auto;
}

.settings-box .settings-container h4{
    font-family: var(--default-font);
}

.settings-box .settings-container p{
    font-size: 1rem;
}

.settings-box .settings-container .body{
    display: block;
    position: relative;
    margin: 17px;
    padding-bottom: 10px;
    height: auto;
    width: 90%;
}

.settings-box .settings-container .body .headding   {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0 0 10px 0;
    border-bottom: 2px solid rgba(208, 229, 248, 0.149);
}

.settings-box .settings-container .body .checkbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.settings-box .settings-container .body .checkbox input[type='checkbox']   {
    appearance: none;    
    height: 20px; 
    width: 20px;
    border: 2px solid rgba(183, 221, 255, 0.3);
    margin-right: 10px;
    transition: all 0.5s cubic-bezier(0, 0.81, 0.27, 1.02);

}
.settings-box .settings-container .body .checkbox input[type='checkbox']::after    {
    content: "";
    height: 10px;
    width: 5px;
    position: relative;
    display: none;
    transform: rotate(45deg);
    border-bottom: 2px solid aliceblue;
    border-right: 2px solid aliceblue;
    left: 5px;
}

.settings-box .settings-container .body .checkbox input[type='checkbox']:hover    {
    background-color: rgba(0, 0, 0, 0.649);
}

.settings-box .settings-container .body .checkbox input[type='checkbox']:checked  {
    background-color: green;
}

.settings-box .settings-container .body .checkbox input[type='checkbox']:checked::after  {
    display: flex;
}

.settings-box .settings-container .body .swipe-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    font-size: 17px;
}

.settings-box .settings-container .body .swipe-box input[type='checkbox']   {
    appearance: none;    
    height: 31px;
    width: 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, 0.544);
    background-color: rgb(0 0 0 );
    border-radius: 15.5px;
    transition: all .5s cubic-bezier(0, 0.27, 0.85, 1.17);

}

.settings-box .settings-container .body .swipe-box input[type='checkbox']::after  {
    content: "";
    height: 20px;
    width: 20px;
    position: relative;
    border:2px solid rgba(0, 0, 0, 0.9);
    border-radius: 100%;
    background-color:rgb(255, 252, 252);
}

.settings-box .settings-container .body .swipe-box input[type='checkbox']:checked   {
    background-color: rgb(255, 253, 253);
}

.settings-box .settings-container .body .swipe-box input[type='checkbox']:checked::after  {
    left:29px;
    background-color: rgba(0, 0, 0, 0.9);
    animation: swipe .5s cubic-bezier(0, 0.27, 0.85, 1.17) ;
}

@keyframes swipe {
    0%  {
        height: 20px;
        width: 20px;
        transform: translateX(0);
    }
    50%{
        transform: translateX(8px);
        height: 18px;
        width: 18px;
    }
    100%{
        height: 20px;
        width: 20px;
    }
}

.settings-box .settings-container .body .edit_img{
    height: 1rem;
    width: 1rem;
    position: fixed;
    transform: translate(59px, -20px);
    border-radius: 4px;
    background-color: aliceblue;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7);

}

.settings-box .settings-container .body .profile-dp img{
    border-radius: 100%;
}

.settings-box .settings-container .body .flex{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 30px;
}

.settings-box .settings-container .body .text{
    display: block;
    width: 80% !important;
    max-width: 80%;
    height: 30px;
    margin: 3px 0;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    user-select: text;
}

.settings-box .settings-container .body .flex .edit {
    border: 1px solid rgba(255, 255, 255, 0.373);
    border-radius: 5.5px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.64);
}

.settings-box .settings-container .body .flex .edit-icon{
    height:20px;
    width:20px;
    position: relative;
    padding: 3px;
    margin: 0px 10px;
    right: 0;
}

.settings-box .settings-container .body .flex .edit-icon:hover {
    background-color: rgba(161, 161, 161, 0.58);
    border-radius: 3px;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.margin-dead {
    margin:0px;
}

.center{
    display: flex;
    justify-content: center;
}

.align-center{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.link {
    color:rgb(3, 218, 3);
    text-decoration: none;
    filter: brightness(100%);
}

.link:hover{
    color: rgb(0, 153, 0);
}

.danger{
    color: red;
}

.success-button{
    position: relative;
    text-decoration: none;
    filter: brightness(100%);
    font-weight: 700;
    width: 40% !important;
    left: 55%;
    --margin: 5px;
    --color: aliceblue;
    --background-image: linear-gradient(to bottom right , rgb(89, 43, 226) ,rgba(33, 16, 84, 0.797) , rgb(89, 43, 226) );
    --btn-shadow: rgba(12, 56, 145, 0.489);
}
.danger-button {
    position: relative;
    text-decoration: none;
    filter: brightness(100%);
    font-weight: 700;
    width: 40% !important;
    left: 55%;
    --margin: 5px;
    --color: rgb(98 0 0);
    --background-image: linear-gradient(to bottom right, rgb(0 0 0 / 83%), rgb(255 130 130 / 80%), rgb(34 34 34));
    --btn-shadow: rgba(206, 82, 82, 0.466);

}

.button {
    height: 2rem;
    width: 30%;
    cursor: pointer;
    text-transform: capitalize;
    margin: var(--margin);    
    color: var(--color) ;
    background-image: var(--background-image);
    border-radius: 30px;
    border: none;
    /* --btn-shadow :rgba(240, 248, 255, 0.18); */
    transition: all .3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.button:hover {
    box-shadow: 1px 1px 10px var(--btn-shadow);
    filter: brightness(80%);
}

/* input field css */
.input_field    {
    height: auto;
    width: auto;
    position: relative;
    text-align: start;
    color: var(--text-color);
    color: aliceblue;
    margin: 5px;
    padding: 5px;
}

.input_field .input input{
    height: 1rem;
    width: 20rem;
    position: relative;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 10px;
    margin: 5px;
    font-family: var(--default-font);
    font-size: 0.9rem;
    border-bottom: 2px solid aliceblue;
    border-radius: none;
    top:15px;
    color: aliceblue;
    transition: box-shadow 2s cubic-bezier(0.56, 0.11, 0.85, 0.46);
}

.input_field .input input:focus , .input_field .input input:not(:placeholder-shown){
    border-color: var(--text-color) !important;
    transition: border-color .5s;
}

.input_field label  {
    width: 50%;
    display: block;
    position: relative;
    z-index: 1;
    top: -15px;
    left: 10px;
    font-size: 0.8rem;
    transition: all .5s;
}

.input_field .input input:focus + label ,.input_field .input input:not(:placeholder-shown) + label    {
    transform: translate(-10px , -20px);
    color: var(--text-color);
}

.name_field{
    display: flex;
    position: relative;
}

.name_field input {
    width: 9.5rem !important;
    text-transform: capitalize;
}

.name_field label  {
    width: 60%;
    font-size: 0.8rem;
}

.input_field img[name="eye"] {
    display: block;
    position: relative;
    top: 14px;
    left:307px;
    z-index: 1;
}

.input_field span   {
    display: none;
    text-align: end;
    font-weight: 100;
    color: rgb(240, 31, 31);
    font-size: .8rem;
}

.input_field #pass_rules {
    height: auto;
    display: none;
    text-align: start;
    text-transform: capitalize;
    color: #bf6ae2;
    font-size: .8rem;
}

.input_field #pass_rules p{
    margin: 0 ;
}

.input_field #pass_rules span{
    text-align: start;
}
/*  */

@media screen and ( max-width:768px ) {
    header{
        display: grid !important;
    }
    header .title{
        height: auto !important;
    }
    header .title h1{
        margin : 0px;
    }
    header p {
        display: none;
    }

}