:root {
    --user-box-height : 30rem;
    --user-box-width : 30rem;
}

body.user{
    background-image:linear-gradient( to bottom right ,  rgba(1, 18, 35, 0.97) 30%, rgb(5, 33, 60) );
    color: aliceblue;
    user-select: none;
    -webkit-user-select: none;
    background-size: 200% 110%;
    overflow: hidden;
    animation: bg-animation 2s alternate infinite ease-out;
}

@keyframes bg-animation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 90% ;
    }
}
header{
    height: 4rem !important;
    outline: 3px solid aliceblue;
    border-radius: 10px;
}
header img{
    height: 3rem !important;
}
header h1{
    height: auto !important;
    font-size: 2rem !important;
}

.hide {
    display: none !important;
}

:root{
    --Fade_out_top : -30px;
    --load-animation-speed:cubic-bezier(0, 0.94, 0.27, 1.2);
}

.fadeout {
    top: var(--Fade_out_top);
    opacity: 0;
    animation: fade 700ms var(--load-animation-speed);
}

.fadein {
    position: relative;
    animation: fade 700ms var(--load-animation-speed);
}

@keyframes fade {
    0%{
        opacity: 0;
        top: var(--Fade_out_top);
    }
    100%{
        opacity: 1;
        top: 0;
    }
}

.square-container   {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.square {
    height: 5rem;
    width: 5rem;
    border: 2px solid white;
    margin: 10px;
    opacity: 20%;
    transition: all 3s cubic-bezier(0.23, 1, 0.320, 1);
}

.square:hover   {
    background-color: blueviolet;
    box-shadow: 5px 5px 20px blueviolet;
}

.box {
    height: var(--user-box-height);
    width: var(--user-box-width);
    top: 13%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(2, 2, 55, 0.703);
    border: 2px solid rgb(0 0 0 / 41%);
    outline: 1px solid aliceblue;
    color: var(--text-color);
    border-radius: 10px 30px;
    padding: 20px;
    overflow-y: visible;
    overflow-x: hidden;
    opacity: 0;
    transition: opacity 3s var(--load-animation-speed) ;
    
}

.box::-webkit-scrollbar {
    width:0px;
}

.box .heading h1{
    font-size: 3rem; 
    margin: 20px;
    text-transform: capitalize;   
}

#form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.rememberMe_div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: aliceblue;
    padding: 10px;
    margin: 10px;
}

.rememberMe_div #rememberMe {
    appearance: none;
    height: 20px;
    width: 20px;
    border: 2px solid aliceblue;
    border-radius: 3px;
    margin-right: 10px;
    transition: all 0.5s cubic-bezier(0, 0.81, 0.27, 1.02);

}

.rememberMe_div #rememberMe::after{
    content: "";
    height: 10px;
    width: 5px;
    position: relative;
    display: none;
    transform: rotate(45deg);
    border-bottom: 2px solid aliceblue;
    border-right: 2px solid aliceblue;
    left: 5px;
}

.rememberMe_div #rememberMe:hover {
    background-color: rgba(0, 0, 0, 0.649);
}
.rememberMe_div #rememberMe:checked {
    background-color: green;
}
.rememberMe_div #rememberMe:checked::after {
    display: flex;
}

.mobile #form[name='sign-in'] .input_field{
    max-width: 80%;
}

.mobile .input_field .input input {
    width: 60vw !important;
}

.input_field .submit input{
    --margin : 5px 20%;
    --color: aliceblue ;
    --background-image: linear-gradient(to bottom right , rgb(89, 43, 226) ,rgba(33, 16, 84, 0.797) , rgb(89, 43, 226) );
}

.input_field .change input {
    font-weight: 500;
    --margin: 0px 60%;
    --color: rgba(0, 0, 0, 0.846);
    --background-image: linear-gradient(to bottom right , rgba(89, 43, 226, 0.8) ,rgba(132, 132, 132, 0.523) , rgba(89, 43, 226, 0.8  ));
    --btn-shadow: rgba(89, 43, 226, 0.373);
}

.input_field .button-div input[disabled="true"]   {
    background-image: none;
    background-color: rgba(58, 58, 58, 0.699) ;
}

@media screen and ( max-width:768px ) {
    header{
        height: 6.4rem !important;
    }
    /* header p{
        display: block !important;
        transform: translateX(20px);
    } */

    .box{
        height: 60vh;
        width: 80vw;
        padding: 5px;
        transform: translateY(50px);
    }

    .square{
        height: 3rem;
        width: 3rem;
    }
}
