:root {
    --user-box-height : 30rem;
    --user-box-width : 30rem;
}

body{
    background-image:linear-gradient( to bottom right ,  rgba(1, 18, 35, 0.97) 30%, rgb(5, 33, 60) );
    color: aliceblue;
    user-select: none;
    background-size: 200% 110%;
    overflow: hidden;
    animation: bg-animation 2s alternate infinite ease-out;
}

@keyframes bg-animation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 90% ;
    }
}

.hide {
    display: none !important;
}

:root{
    --Fade_out_top : -30px;
    --load-animation-speed:cubic-bezier(0, 0.94, 0.27, 1.2);
}

.fadeout {
    top: var(--Fade_out_top);
    opacity: 0;
    animation: fade 700ms var(--load-animation-speed);
}

.fadein {
    position: relative;
    animation: fade 700ms var(--load-animation-speed);
}

@keyframes fade {
    0%{
        opacity: 0;
        top: var(--Fade_out_top);
    }
    100%{
        opacity: 1;
        top: 0;
    }
}

.square-container   {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.square {
    height: 6rem;
    width: 6rem;
    border: 2px solid white;
    margin: 10px;
    opacity: 20%;
    transition: all 3s cubic-bezier(0.23, 1, 0.320, 1);
}

.square:hover   {
    background-color: blueviolet;
    box-shadow: 5px 5px 20px blueviolet;
}

.box {
    height: var(--user-box-height);
    width: var(--user-box-width);
    top: 100px;
    left: calc(50% - (var(--user-box-width) / 2));
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(0 26 44 / 88%);
    border: 2px solid rgb(0 0 0 / 41%);
    color: var(--text-color);
    border-radius: 10px 30px;
    padding: 20px;
    overflow-y: visible;
    overflow-x: hidden;
    opacity: 0;
    transition: opacity 3s var(--load-animation-speed) ;
    
}

.box::-webkit-scrollbar {
    width:0px;
}

.box .heading h1{
    font-size: 1.5rem; 
    text-transform: capitalize;   
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.input_field    {
    height: auto;
    width: auto;
    position: relative;
    text-align: start;
    color: var(--text-color);
    color: aliceblue;
    margin: 5px;
    padding: 5px;
}

.input_field .input input{
    height: 1rem;
    width: 20rem;
    position: relative;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 5px;
    margin: 5px;
    font-size: 0.8rem;
    border-bottom: 2px solid aliceblue;
    border-radius: none;
    top:15px;
    color: aliceblue;
    transition: box-shadow 2s cubic-bezier(0.56, 0.11, 0.85, 0.46);

}

.input_field .input input:focus , .input_field .input input:not(:placeholder-shown){
    border-color: var(--text-color) !important;
    transition: border-color .5s;
}

.input_field label  {
    width: 50%;
    display: block;
    position: relative;
    z-index: 1;
    top: -15px;
    left: 10px;
    font-size: 0.8rem;
    transition: all .5s;
}

.input_field .input input:focus + label ,.input_field .input input:not(:placeholder-shown) + label    {
    transform: translate(-10px , -20px);
    color: var(--text-color);
}

.name_field{
    display: flex;
    position: relative;
}

.name_field input {
    width: 9.5rem !important;
    text-transform: capitalize;
}

.name_field label  {
    width: 60%;
    font-size: 0.8rem;
}

.input_field img[name="eye"] {
    display: block;
    position: relative;
    top: 14px;
    left:307px;
    z-index: 1;
}

.input_field span   {
    display: none;
    text-align: end;
    font-weight: 100;
    color: rgb(240, 31, 31);
    font-size: .8rem;
}

.input_field #pass_rules {
    height: auto;
    display: none;
    text-align: start;
    text-transform: capitalize;
    color: #bf6ae2;
    font-size: .8rem;
}

.input_field #pass_rules p{
    margin: 0 ;
}

.input_field #pass_rules span   {
    text-align: start;
}

.rememberMe_div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: aliceblue;
    padding: 10px;
    margin: 10px;
}

.rememberMe_div #rememberMe {
    appearance: none;
    height: 20px;
    width: 20px;
    border: 2px solid aliceblue;
    border-radius: 3px;
    margin-right: 10px;
    transition: all 0.5s cubic-bezier(0, 0.81, 0.27, 1.02);

}

.rememberMe_div #rememberMe::after{
    content: "";
    height: 10px;
    width: 5px;
    position: relative;
    display: none;
    transform: rotate(45deg);
    border-bottom: 2px solid aliceblue;
    border-right: 2px solid aliceblue;
    left: 5px;
}

.rememberMe_div #rememberMe:hover {
    background-color: rgba(0, 0, 0, 0.649);
}
.rememberMe_div #rememberMe:checked {
    background-color: green;
}
.rememberMe_div #rememberMe:checked::after {
    display: flex;
}

.input_field .submit input{
    --margin : 5px 20%;
    --color: aliceblue ;
    --background-image: linear-gradient(to bottom right , rgb(89, 43, 226) ,rgba(33, 16, 84, 0.797) , rgb(89, 43, 226) );
}

.input_field .change input {
    --margin: 0px 60%;
    --color: rgba(0, 0, 0, 0.846);
    --background-image: linear-gradient(to bottom right , rgba(89, 43, 226, 0.8) ,rgba(132, 132, 132, 0.523) , rgba(89, 43, 226, 0.8  ));
    --btn-shadow: rgba(89, 43, 226, 0.373);
}

.input_field .button-div input[disabled="true"]   {
    background-image: none;
    background-color: rgba(58, 58, 58, 0.699) ;
}

footer {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-size: 12px;
}


